<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/jquery.min.js') }}" ></script>
<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/jquery-ui.min.js') }}" ></script>
<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/jquery.mask.min.js') }}" ></script>
<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/notify.min.js') }}" ></script>                            


<style>
body {font-size: 13px;}	
.ficap { padding: 0px; margin: 0px; width: 150px; clear: both; vertical-align: middle; inline-block;}
.fi, .ficap {float: left;}
.ficap, .fi,.fi input {padding: 2px; margin: 0px;}
.b1,.b2,.b3 {border: 1px solid black; float: left; padding: 5px; height: 100%; }
.b1 {width: 25%;}
.b2 {width: 46%;}
.b3 {width: 25%;}
.bwrap {height: 50vh;}
input {padding: 2px; margin: 0px; border: 1px solid #1E90FF;}
#slist {border-collapse: collapse;}
#slist td,#slist th {border-left: 1px solid #1E90FF;border-right: 1px solid #1E90FF;}
#slist th {border-bottom: 1px solid #1E90FF;}
#slist td {border-top: 1px solid #1E90FF;}
</style>

<div class="bwrap">
<div class="b1">
<h1>Каточка позвонившего</h1>
<form id="form1">
<div class="ficap"><button type="reset">Очистка</button></div>
<div class="ficap">Id</div><div class="fi"><input type="text" name="rowid" readonly></div>
<div class="ficap">Телефон</div><div class="fi"><input type="tel" name="tel"></div>
<div class="ficap">Мобильный</div><div class="fi"><input type="mob" name="mob"></div>
<div class="ficap">ФИО</div><div class="fi"><input type="text" name="fio"></div>
<div class="ficap">Роль</div><div class="fi"><select name="role"></select></div>
<div class="ficap">Должность</div><div class="fi"><select name="pos"></select></div>
<div class="ficap">Организация</div><div class="fi"><input type="text" name="org"></div>
<div class="ficap">Организация_</div><div class="fi"><input type="text" name="org_"></div>
<div class="ficap">ПО</div><div class="fi"><input type="text" name="soft"></div>
</form>
<div class="ficap"><button title="Сохраняет карточку в базу" id="save2db" disabled>В базу</button><br>
</div><div class="fi"><br><button id="search2db">Искать</button></div>
</div>
<div class="b2">
<h1>Список найденного</h1>
<table id="slist">
<tr><th>id</th><th>tel</th><th>mob</th><th>fio</th><th>org</th></tr>
</table>
</div>
<div class="b3">
<h1>Карточка в базе</h1>
<form id="form2">
<div class="ficap">Id</div><div class="fi"><input type="text" name="rowid" readonly></div>
<div class="ficap">Телефон</div><div class="fi"><input type="tel" name="tel" readonly></div>
<div class="ficap">Мобильный</div><div class="fi"><input type="tel" name="mob" readonly></div>
<div class="ficap">ФИО</div><div class="fi"><input type="text" name="fio" readonly></div>
<div class="ficap">Роль</div><div class="fi"><select name="role" readonly></select></div>
<div class="ficap">Должность</div><div class="fi"><select name="pos" readonly></select></div>
<div class="ficap">Организация</div><div class="fi"><input type="text" name="org" readonly></div>
<div class="ficap">Организация1</div><div class="fi"><input type="text" name="org_" readonly></div>
<div class="ficap">ПО</div><div class="fi"><input type="text" name="soft" readonly></div>
</form>
<div class="ficap"><button id="carddel">Удалить</button></div><div class="fi"><br><button id="card2to1">Перенести карту 1</button></div>
<div class="ficap"></div><div class="fi"><br><button id="card2req">Перенести в заявление</button></div>
</div>
</div>
</div>	
<br style="clear: both;">
<h1>Заявление позвонившего</h1>
<form id="form3">
<table id="reqlist">
<tr><th>id</th><th>tel</th><th>mob</th><th>fio</th><th>org</th></tr>
</table>
<select name="reqcat"></select><br>
<textarea></textarea>
</form>	

<script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/my.js') }}" ></script> 
